<strong>Olá, {{ user }}.</strong>
<p>Confira os detalhes da sua inscrição abaixo.</p>
<p>
  <strong>Meetup: </strong> {{ meetup }}. <br />
  <strong>Data/Hora: </strong> {{ date_time }}. <br />
  <br />
  <small>
    Esperamos Você!!!
  </small>
</p>
